<div class="container">
  <div class="tiles">
    <ng-container *ngFor="let date of events | keyvalue: keyOrder">
      <mat-toolbar-row class="date-header">
        <h3>{{ date.key | date: "fullDate" }}</h3>
      </mat-toolbar-row>
      <ng-container *ngFor="let event of date.value">
        <mat-card class="event-card">
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>{{ event.title }}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="image-boundary">
            <img
              mat-card-image
              src="{{ event.flyerFront }}"
              onerror="this.onerror=null;this.src='/assets/images/no-flyer.png';"
              alt="event-photo"
            />
          </mat-card-content>
          <div class="footer">
            <div class="venue">
              <a href="{{ event.venue.direction }}" target="_blank"
                ><mat-icon color="primary">place</mat-icon></a
              >
              <h6>{{ event.venue.name }}</h6>
            </div>
            <div class="times">
              <mat-card-subtitle
                >| Starts:
                {{
                  event.startTime | date: "dd/MM/yy HH:mm:ss"
                }}</mat-card-subtitle
              >
              <mat-card-subtitle
                >| Ends:
                {{
                  event.endTime | date: "dd/MM/yy HH:mm:ss"
                }}</mat-card-subtitle
              >
            </div>
            <div class="add-event">
              <button (click)="addEvent(event)" mat-mini-fab color="primary">
                <mat-icon>add </mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
</div>
